/* =====================
        BREAK POINTS
========================*/

$bp-tablet: 48em; //768px
$bp-laptop: 61.1875em; //979px
$bp-small-desktop: 80em; //1280px
$bp-desktop: 90em; // 1440px
$bp-large-desktop: 160em; //2560px
